{% extends 'base.html'%}
{% load static %}
{%block Body%}

    <!--------- TYPES ------->
    
    <section class="type">
        <h2>Welcome to the most trusted Roofig Company</h2>
         <h1>A heritage of roofing<br> excellence</h1>
        <P> </P>
        
        <div class="row">
            <div class="type-col" >
                <img src="{% static 'images/roof1.png' %}" alt="Image 404">
                <h3></h3>
               
            </div>
            
        </div>
         
    
     <!------ call to action ------->
    
    <section class="cta">
        <h1> Have Any Question Or Need Any Business Consultation</h1>
        <a href="{% url 'contactus' %}" class="hero-btn" >CONTACT US</a>
         
    </section>
{% endblock %}
