{% extends 'base.html'%}
{% load static %}
{%block Body%}

    <!--------- TYPES ------->
    
    <section class="type">
        <h2>Welcome to the most trusted Roofig Company</h2>
         <h1>A heritage of roofing<br> excellence</h1>
        <P> </P>
        
        <div class="row">
            <div class="type-col" >
                <img src="{% static 'images/roof1.png' %}" alt="Image 404">
                <h3></h3>
               
            </div>
            
        </div>
        
    </section>
    
    <!-------- Services ------->
    <section class="location">
         
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75897.65533076561!2d36.65572240814843!3d-1.2432066065565777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1f70f1a38bd7%3A0xff3f0519de69d831!2sKeneli%20Flats!5e0!3m2!1sen!2ske!4v1657970756149!5m2!1sen!2ske" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    
    
    
     <!------ call to action ------->
    
    <section class="cta">
        <h1> Have Any Question Or Need Any Business Consultation</h1>
        <a href="{% url 'contactus' %}" class="hero-btn" >CONTACT US</a>
         
    </section>
{% endblock %}