{% extends 'base.html'%}
{% load static %}
{%block Body%}

    <!--------- TYPES ------->
    
    <section class="type">
        <h2>Welcome to the most trusted Roofig Company</h2>
         <h1>A heritage of roofing<br> excellence</h1>
        <P> </P>
        
        <div class="row">
            <div class="type-col" >
                <img src="{% static 'images/roof1.png' %}" alt="Image 404">
                <h3></h3>
               
            </div>
            
        </div>
        
    </section>
    
    <!-------- Services ------->
    
    <section class="services">
        <h1>Our Services</h1>
        <p>you just have to learn HTML, CSS, JAVASCRIPT and you are good to start over</p>
        
        <div class="row">
            <div class="services-col">
                <img src="{% static 'images/roof2.jpg' %}">
                <h3>bike delivery</h3>
                <p>Making a website is now one of the easiest thing to do. you just have to learn HTML, CSS, JAVASCRIPT and you are good to start over</p>
            </div>
             <div class="services-col">
                <img src="{% static 'images/roof3.jpg' %}">
                <h3>foot soldiers</h3>
                <p>Making a website is now one of the easiest thing to do. you just have to learn HTML, CSS, JAVASCRIPT and you are good to start over</p>
            </div>
        </div>
        
         </section>
    
    
    
     <!------ call to action ------->
    
    <section class="cta">
        <h1> Have Any Question Or Need Any Business Consultation</h1>
        <a href="{% url 'contactus' %}" class="hero-btn" >CONTACT US</a>
         
    </section>
{% endblock %}